*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    display: block;
}

body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F9F9;
    width: 100%;
    min-height: 100vh;
} 

/* CsS Reset */


.logo-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 10px;
    color: white;
}



.navigation {
    display: none;
}

.show {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links-wrap {
    list-style: none;
    display: grid;
    margin: 15px;
    /* align-items: center; */
    gap: 17px;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

.home a{
    color:#F48E28;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.home a:hover {
    color: #000;
}

.nav-link a:hover {
    color: #F48E28;
}

/* .nav-btn {
    border: 0;
    background-color: aqua;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 4px;
} */


.heading{
    text-align: center;
    color: black;
}

.hero-text{
    margin: 71px 0px 23px 0px;
}

.main-head{
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    
}


.city{
    color: #F48E28;
}

.para{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.main-btn{
    Color:white;
    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    border: none;
    padding: 17px 107px;
    margin: 33px 0px 43px 0px;
    border-radius: 15px;
}


.hero-img img{
    width: 312px;
    height: 410px;
    margin: 2px auto;
}


.main-sec{
    /* position: relative;
    top:94px;
    left: 19px;
    right: 19px; */
    background-color: #fff;
    text-align: center;
    margin: 94px 19px 60px 19px; 
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);

}

ul{
    list-style: none;
}

.timing{
    display: grid;
    gap: 65px;
    font-size: 18px;
    font-weight: 600;
    padding: 65px 0px;
}

.sub-list{
    font-size: 13px;
    font-weight: 400;
}

h2{
    text-align: center;
    color: #F48E28;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 59px;
    text-transform: uppercase;
}

.menu{
    display: grid;
    gap: 40px;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
    width: 100%;
    overflow: hidden;
}

.menu-opt img{
    width: 100%;
    border-radius: 14px 14px 0px 0px;
}

.menu-opt{
    text-align: left;
    background-color: #fff;
    width: 280px;
    border-radius: 14px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.menu-text{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 11px 0px 14px 11px;
}

.menu-order{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu-cta{
    width: 90px;
    color: #fff;
    background-color: rgba(244, 142, 40, 1);
    border-radius: 4px;
    padding: 12px;
    border: none;
}


.menu-cta:hover{
color: #FFFAF0;
background-color: #EFAB68;
}

.see-cta{
    width: 200px;
    margin: 10px auto;

}

.see-all{
    width: 100%;
    color: #fff;
    background-color: rgba(244, 142, 40, 1);
    border-radius: 4px;
    margin: 64px auto;
    padding: 16px;
    border: none;
}

.news{
    position: relative;
    background-color: black;
    text-align: center;
    padding: 74px auto;
    color: rgba(255, 255, 255, 1);
}

.news-img{
    padding-top: 70px;
    margin: 2px auto;
    width: 306px;
}

.news-img img{
    width: 100%;
}

.head3{
    /* position: relative;
    top: 507px; */
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.news-para{
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 42px;
}

.input input{
    display: inline-block;
    width: 290px;
    padding: 10px 0px 10px 14px;
    border-radius: 4px;
    border: none;
}

.news-cta{
    width: 290px;
    height: 32px;
    /* padding: 13px auto; */
    margin-top: 18px;
    margin-bottom: 100px;
    border-radius: 4px;
    border: none;
    background-color: rgba(244, 142, 40, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}




.footer-main{
    margin: 100px auto;
}


.footer{
    display: grid;
    grid-template-columns: 1;
    gap: 40px;
    padding-left: 16px;
    justify-content: center;
}


.foot-para{
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    width: 300px;
    color: rgba(182, 182, 182, 1);
}

.foot-link{
    display: grid;
    gap: 30px;
}


.head4{
    font-size: 26px;
    font-weight: 700;
}

.foot-order{
    list-style: none;
    display: grid;
    gap: 14px;
}

.foot-item{
    font-weight: 500;
    font-size: 18px;
    color: rgba(182, 182, 182, 1);
}

.foot-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 200px;
}

.social-icon{
    background-color: #F5DDC4;
    border-radius: 100%;
    padding: 8px;
    align-self: center;
}




















@media screen and (min-width: 1024px) {
    .headers {
        display: flex;
        justify-content: space-between;
        margin: 0rem 5.37rem;
    }

    .hamburger-menu {
        position: absolute;
        background-color: red;
        /* display: none; */
        left: -10000px;
    }

    .navigation {
        display: flex;
        align-items: center;
        gap: 24px;
    }


    .nav-links-wrap {
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap: 67px;
    }

    .logo-icon {
        display: flex;
        width: fit-content;
        /* margin-left: 5.37rem; */
    }

    .nav-link a {
        font-size: 20px;
    }

    .nav-btn {
        font-size: 16px;
    }

    .heading{
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin: 0px 60px 134px 86px;
    }

    .main-head{
        font-size: 5.94rem;
    }

    .para{
        width: 620px;
    }

    .main-btn{
        font-size: 26px;
        font-family: 700;
        padding: 20px 50px;
    }

    .hero-img img{
        width: 617px;
        height: 809px;
    }

    .main-sec{
    margin: auto 106px;
    height: 154px;
    }

    .timing{
        display: flex;
        justify-content: space-around;
        align-content: center;
        /* padding: 50px; */
    }

    .sub-head{
        padding-top: 86px;
    }

    .menu{
        /* display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; */
        grid-template-columns: repeat(3, 450px);
    }

    .menu-cta{
        padding: 8px 27px;
    }

    .menu-opt{
        margin: 5px auto;
        width: 400px;
    }

    .see-cta{
        margin: 10px auto;
    
    }

    .see-all{
        padding: 14px 56px;
    }

    .news{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .news-img{
        margin: 0px;
        width: 500px;
        /* margin: 50px;
        height: ; */
    }

    .news-img img{
        width: 100%;
    }

    .head3{
        font-size: 36px;
        font-weight: 700;

    }

    .news-para{
        width: 520px;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
    }

    .input{
        width: 330px;
        height: 50px;
    }

    .input input{
        width: 100%;
        height: 100%;
    }

    .button{
        width: 140px;
        height: 50px;
        margin-bottom: 40px;
    }

    .news-cta{
        width: 100%;
        height: 100%;
        
    }

    .news-flex2{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    

    .footer{
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* margin: 40px; */
    }

    .foot-img{
        width: 200px;
        /* background-color: red; */
        margin: 0px;
    }


    .foot-para{
        width: 270px;
    }

}